<h1>temp2</h1>
<h1 style="color:red"><%= name %></h1>
<ul class="nav navbar-nav navbar-right">
    <li><a class="active" href="/Index">Home</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Work">Work</a></li>
</ul>
