<%- include('../temp2',  {name: 'gourav'}); %>

<h1>Hello 2</h1>
<h1><%= name %></h1>

<ul>
    <% data.forEach(function(listdata){ %>
        <li><%= listdata %></li>
      <% }); %>
</ul>


<% photos.forEach(function(listdata){ %>
    <img src="" alt="" srcset="">
  <% }); %>